datalist {
    display: flex;
    flex-direction: row;
    margin: auto;
    justify-content: space-between;
    writing-mode: horizontal-tb;
    width: 200px;
}

fieldset {
    border: none;
    margin-bottom: 1em;
}

input[type="range"] {
    width: 200px;
    margin: auto;
}

p {
    font-weight: bold;
    margin-top: 1em;
    margin-bottom: 0;
    text-shadow: rgb(255, 255, 255) 1px 0 10px;
}

select {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.2em 0.6em;
  font-size: 0.8em;
  font-weight: bold;
  font-family: inherit;
  text-align: center;
  cursor: pointer;
  transition: border-color 0.25s;
}