datalist {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    writing-mode: horizontal-tb;
    width: 200px;
    margin-bottom: 0.5em;
    color: black;
    font-family: 'Palanquin';
}

option {
    margin-top: -0.5em;
}

#survey_field {
    margin-top: 1em;
    margin-bottom: 1em;
    margin: auto;
    padding-left: 1.5em;
    width: 600px;
    position: center;
    background-color: white;
    animation: color-change-frame 10s infinite;
}

@keyframes color-change-frame {
  0% { box-shadow :  #ff2db9 1px 0 20px}
  10% { box-shadow : #ba43ff 1px 0 20px}
  20% { box-shadow : #683ffc 1px 0 20px} 
  30% { box-shadow : #4545f9 1px 0 20px} 
  40% { box-shadow : #34a7ff 1px 0 20px} 
  50% { box-shadow : #3EDEBF 1px 0 20px}
  60% { box-shadow:  #3ede4e 1px 0 20px}
  70% { box-shadow : #f0dd05 1px 0 20px}
  80% { box-shadow : #f96c14 1px 0 20px}
  90% { box-shadow : #ff3c00 1px 0 20px}
  100% { box-shadow : #ff0051 1px 0 20px}
}

input[type="range"] {
    width: 200px;
    margin: auto;
}

p {
    font-weight: bold;
    margin-bottom: 0;
    margin-top: 0.8em;
    font-family: 'Palanquin';
    color: black;
    font-size: 1.5em;
}

label {
    font-family: 'Palanquin';
    font-size: 1em;
    color: black;
}

div.question {
    text-align: left;
}

select {
  border-radius: 8px;
  border: 1px solid black;
  padding: 0.2em 0.6em;
  font-size: 1em;
  font-weight: bold;
  font-family: 'Times New Roman';
  text-align: center;
  cursor: pointer;
  transition: border-color 0.25s;
}