:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  opacity: 50%;
  text-decoration: inherit;
  display: inline-block;
  margin-right: 1em;
}
a:hover {
  color: #535bf2;
  opacity: 100%;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background: black;
  color: white;
}

h1 {
  font-size: 2.2em;
  line-height: 1.1;
  margin-bottom: 0;
}

h2 {
  padding: 0;
  font-size: 3.2em;
  line-height: 1.1;
  animation: color-change 10s infinite;
}

@keyframes color-change {
  0% { color :  #ff2db9}
  10% { color : #ba43ff }
  20% { color : #683ffc} 
  30% { color : #4545f9} 
  40% { color : #34a7ff} 
  50% { color : #3EDEBF }
  60% { color:  #3ede4e }
  70% { color : #f0dd05 }
  80% { color : #f96c14 }
  90% { color : #ff3c00 }
  100% { color : #ff0051 }
}

h3 {
  margin-top: -1.5em;
  margin-bottom: 2em;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
